#page-suggest {
  width: 100vw;
  height: 100vh;
}

#page-suggest .page-header .header-content{
  margin-bottom: 6.4rem;
}

#page-suggest main{
  background-color: var(--color-box-base);
  width: 100%;
  max-width: 74rem;
  border-radius: 0.8rem;
  margin: -3.7rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-suggest main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-suggest main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-suggest main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-in-secondary);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-text-search);

}

#page-suggest main fieldset .input-block + .textarea-block,
#page-suggest main fieldset .select-block + .input-block
{
  margin-top: 2.4rem;
}

#page-suggest main fieldset .input-block + .textarea-block {
  margin-top: 2.4rem;
}

#page-suggest main label {
  color: var(--colot-text-complement);
}

#page-suggest main footer {
  padding: 4rem 2.4rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-text-search);
  margin-top: 3.4rem;
}

#page-suggest main p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-in-secondary);
}

#page-suggest main p img{
  margin-right: 2rem;
  height: 4rem;
}

#page-suggest main footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0rem;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: backgroud-color 0.2s;
  margin-top: 3.2rem;
}

#page-suggest main footer button:hover {
  background: var(--color-secundary-dark);
}

@media(min-width: 700px){
  #page-suggest {
    max-width: 100%;
  }

  #page-suggest .page-header .header-content{
    margin-bottom: 0;

  }

  #page-suggest main fieldset {
    padding: 0 6.4rem;
  }

  #page-suggest main footer {
    padding: 4.6rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #page-suggest main footer p {
    justify-content: space-between;
  }

  #page-suggest main footer button {
    width: 20rem;
    margin-top: 0rem;
  }

}