#page-menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-text-in-primary);
}

#page-menu #page-menu-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  padding: 2rem 0;
}

#page-menu #page-menu-top #page-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 4rem;
}

#page-menu #page-menu-top #page-menu-header #user-avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#page-menu #page-menu-top #page-menu-header #user-avatar img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

#page-menu #page-menu-top #page-menu-header #user-avatar p {
  transition: color 300ms ease;
}

#page-menu #page-menu-top #page-menu-header #user-avatar:hover p {
  color: #032b44;
}

#page-menu #page-menu-top #page-menu-header #user-signout {
  background-color: var(--color-primary-light);
  width: 3rem;
  height: 3rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms ease;
  cursor: pointer;
  padding: 0.6rem;
}

#page-menu #page-menu-top #page-menu-header #user-signout:hover {
  background-color: var(--color-primary-dark);
}

#page-menu #page-menu-top #page-menu-logo {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-menu #page-menu-top #page-menu-logo .logo-container {
  text-align: center;
  margin-bottom: 1rem;
}

#page-menu #page-menu-top #page-menu-logo .logo-container img {
  height: 6rem;
}

#page-menu #page-menu-top #page-menu-logo .logo-container h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 4.6rem;
  margin-top: 0.8rem;
  margin-left: 3rem; /*fastar p direita*/
  color: var(--color-text-in-primary);
}

#page-menu #page-menu-top #page-menu-logo .hero-image {
  width: 80%;
  margin: 0 auto;
}

#page-menu #page-menu-bottom #welcome-text {
  color: var(--color-text-title);
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-items: center;
  width: fit-content;
}

#page-menu #page-menu-bottom #welcome-text #what-todo {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 0.5rem;
}

#page-menu #page-menu-bottom #buttons-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

#page-menu #page-menu-bottom #buttons-container a {
  width: 22rem;
  height: 10.4rem;
  border-radius: 0.8rem;
  font: 700 2rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color-button-text);
  transition: background-color 200ms;
}

#page-menu #page-menu-bottom #buttons-container a:first-child {
  margin-right: 1.6rem;
}

#page-menu #page-menu-bottom #buttons-container a img {
  width: 4rem;
  margin-right: 2rem;
}

#page-menu #page-menu-bottom #buttons-container a.search {
  background: var(--color-primary-lighter);
}

#page-menu #page-menu-bottom #buttons-container a.search:hover {
  background: var(--color-primary-light);
}

#page-menu #page-menu-bottom #buttons-container a.suggest {
  background: var(--color-secundary);
}

#page-menu #page-menu-bottom #buttons-container a.suggest:hover {
  background: var(--color-secundary-dark);
}

#page-menu #page-menu-bottom #total-connections {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-base);
}

#page-menu #page-menu-bottom #total-connections img {
  margin-left: 0.4rem;
}

@media (min-width: 1100px) {
  #page-menu #page-menu-top {
    padding: 3rem 10rem;
  }

  #page-menu #page-menu-top #page-menu-header #user-avatar img {
    width: 4.5rem;
    height: 4.5rem;
}

  #page-menu #page-menu-top #page-menu-header #user-avatar p {
    font-size: 2rem;
  }

  #page-menu #page-menu-top #page-menu-header #user-signout {
    width: 4rem;
    height: 4rem;
    padding: 0.9rem;
  }

  #page-menu #page-menu-top #page-menu-logo {
    flex-direction: row;
  }

  #page-menu #page-menu-top #page-menu-logo .logo-container img {
    height: 35rem; /*altera tamanho da logo*/
    left: 2rem; /*fasta para esquerda*/
    position: relative;
  }

  #page-menu #page-menu-top #page-menu-logo .logo-container h2 {
    font-size: 3rem;
    text-align: left;
    max-width: 45rem;
  }

  #page-menu #page-menu-top #page-menu-logo .hero-image {
    width: 90%;
    margin-right: 5rem; /*fastar a img*/
  }

  #page-menu #page-menu-top #page-menu-logo {
    display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: ' logo nada hero';
      height: 100%;
  }
  #page-menu #page-menu-top #page-menu-logo .hero-image {
    grid-area: hero;
  }

  #page-menu #page-menu-bottom {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'welcome connections buttons buttons';
    height: 100%;
  }

  #page-menu #page-menu-bottom #welcome-text {
    grid-area: welcome;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 13rem; /*fastar para direita*/
  }

  #page-menu #page-menu-bottom #welcome-text #what-todo {
    margin-left: 0;
  }

  #page-menu #page-menu-bottom #total-connections {
    grid-area: connections;
  }

  #page-menu #page-menu-bottom #buttons-container {
    grid-area: buttons;
  }

  #page-menu #page-menu-bottom #buttons-container a {
    width: 30rem;
  }
}
