#theme-profile {
    width: 100vw;
    height: 100vh;
}

#theme-profile main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}

#theme-profile main form #profile-avatar {
    margin: -5rem auto 0;
    width: fit-content;
}

#theme-profile main form #profile-avatar #profile-avatar-image {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

#theme-profile main form #profile-avatar #profile-avatar-image img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

#theme-profile main form #profile-avatar #profile-avatar-image svg {
    position: absolute;
    bottom: 1rem;
    right: .5rem;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    border-radius: 50%;
    color: white;
    background: var(--color-secundary);
    cursor: pointer;
    transition: background-color 300ms ease;
}

#theme-profile main form #profile-avatar #profile-avatar-image svg:hover {
    background-color: var(--color-secundary-dark);
}

#theme-profile main form #profile-avatar #profile-avatar-description {
    text-align: center;
    font-size: 1.7rem;
}

#theme-profile main form #profile-avatar #profile-avatar-description p:first-child {
    font-weight: 700;
}

#theme-profile main form fieldset {
    border: 0;
    padding: 0 2.4rem;
}

#theme-profile main form fieldset + fieldset {
    margin-top: 6.4rem;
}

#theme-profile main form fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#theme-profile main form fieldset legend button {
    background: none;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    font: 700 1.6rem Archivo;
    transition: color 200ms ease;
    outline: 0;
}

#theme-profile main form fieldset legend button:disabled {
    cursor: not-allowed;
    color: var(--color-text-complement);
}

#theme-profile main form fieldset legend button:not(:disabled):hover {
   color: var(--color-primary-dark);
}

#theme-profile main label {
    color: var(--color-text-complement);
}

#theme-profile main form fieldset .input-block + .input-block,
#theme-profile main form fieldset .Select + .input-block {
    margin-top: 1.4rem;
}

#theme-profile main form footer {
    padding: 4rem 2.6rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
}

#theme-profile main form footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

#theme-profile main form footer button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 200ms ease;
    outline: 0;
}

#theme-profile main form footer button:hover {
    background: var(--color-secundary-dark);
}

#theme-profile main form footer button:disabled {
    background: var(--color-text-complement);
    cursor: not-allowed;
}

#theme-profile main form fieldset .theme-item {
    background: #eee;
    padding: 1.6rem;
    position: relative;
    border-radius: 0.8rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
}

#theme-profile main form fieldset .theme-item + .theme-item {
    margin-top: 1.4rem;
}

#theme-profile main form fieldset .theme-item .remove-theme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    width: 2.4rem;
    text-align: center;
    height: 2.4rem;
    z-index: 98;
}

#theme-profile main form fieldset .theme-item .remove-theme,
#theme-profile main form fieldset .theme-item .remove-theme svg {
    cursor: pointer;
}

#theme-profile main form fieldset .theme-item .theme-input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#theme-profile main form fieldset .theme-item .theme-input-group input {
    width: 100%;
    height: 5.6rem;
    background: var(--color-input-background);
    border: none;
    border-radius: 0.8rem;
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

#theme-profile main form footer button .spinner-resizer {
    width: 3.4rem;
    height: 3.4rem;
}