.themes-item {
  background: var(--color-box-base);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.themes-item header {
  position: absolute;
  width: 736px;
  height: 595px;
  left: 480px;
  top: 388px;
  background: #FFFFFF;
  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 8px;
}

.themes-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.themes-item header div {
  margin-left: 2.4rem;
}

.themes-item div strong {
  position: absolute;
  width: 194px;
  height: 25px;
  left: 150px;
  top: 50px;

  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  color: var(--color-text-title);
}



.themes-item header div span {
  font-size: 1.6rem;
  display: block;
  margin-top: 0.4rem;
  height: 25px;
  left: 200px;
  margin-left: 2.4rem;
  
  
}

@media(min-width: 700px){
  .themes-item header,
  .themes-item footer {
    padding: 3.2rem;
  }

  .themes-item > p {
    padding: 0 3.2rem;
  }

  .themes-item footer p strong {
    display: initial;
    margin-left: 1.6rem;
  }

  .themes-item footer button {
    width: 24.5rem;
    font-size: 1.6rem;
    justify-content: center;
  }

  .themes-item footer button img {
    margin-right: 1.6rem;
  }

}