
.themes-item {
  padding: 2.8rem 2rem;
  border-radius: 0.8rem;
  margin-top: 2.0rem;
  overflow: hidden;
  width: 736px;
  height: 600px;  
  }
  
.themes-item header {
  display: block;
  position: absolute;
  width: 736px;
  height: 595px;
  left: 470px;
  background: #FFFFFF;
  border: 1px solid #E6E6F0;
  box-sizing: border-box;
  border-radius: 8px;
}

.themes-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.themes-item header div {
  margin-left: 2.4rem;
}

.themes-item div strong {
  position: absolute;
  height: 25px;
  left: 150px;
  top: 50px;

  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  color: var(--color-text-title);
}

.themes-item header div span {
  
  height: 25px;
  left: 150px;
  top: 50px;

  font-size: 1.6rem;
  display: block;
  margin-top: -4.5rem;
  height: 25px;
  left: 190px;
  margin-left: 9.8rem;
}

.themes-item header span p {
  margin-left: 4.0rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}


.themes-item header span p strong {
  margin-left: 4.0rem;
  font-size: 1.6rem;
  line-height: 5rem;
}



@media(min-width: 700px){
  .themes-item header {
    
    padding: 3.2rem;
  }
  

}