:root {
  --color-background: #F0F0F7;
  --color-primary-lighter: #E5890B;
  --color-primary-light: #CC7A07;
  --color-primary: #33AAC2;
  --color-primary-dark: #E5890B;
  --color-primary-darker: #CC7A07;
  --color-secundary: #ED6907;
  --color-secundary-dark: #a74800;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #b5e3fd;
  --color-text-title: #032B44;
  --color-text-complement: #2c7aaa;
  --color-text-base: #21648d;
  --color-line-in-white: #96CFF1;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
  color: var(--color-text-title);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px var(--color-input-background) inset !important;
}

.container {
  width: 90vw;
  max-width: 700px;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}