#page-register-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    position: relative;
}

#page-register-login h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3.4rem;
    color: var(--color-text-title);
}

#page-register-login form {
    width: 75%;
    margin-top: 1.5rem;
}

#page-register-login form .input-group {
    position: relative;
    background-color: var(--color-input-background);
    width: 100%;
    border: 1px solid var(--color-text-in-primary);
}

#page-register-login form .input-group.invalid {
    border: 2px solid crimson;
}

#page-register-login form .input-group input {
    width: 100%;
    border-radius: inherit;
    border: none;
    outline: none;
    height: 5.5rem;
    padding: 1rem 1.6rem;
    background-color: var(--color-input-background);
}

#page-register-login form .input-group:first-child {
    margin-top: 1.2rem;
    border-radius: 0.8rem 0.8rem 0 0;
}

#page-register-login form .input-group:last-child {
    border-radius: 0 0 0.8rem 0.8rem;
}

#page-register-login form .input-group:focus-within::before {
    content: '';
    width: 0.25rem;
    animation: inputFocus 300ms ease forwards;
    background-color: var(--color-primary);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#page-register-login form .input-group svg {
    position: absolute;
    top: 34%;
    right: 4%;
    font-size: 2rem;
}

#page-register-login #user-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.5rem;
    row-gap: 1.5rem;
    width: 75%;
}

#page-register-login #user-actions label {
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
}

#page-register-login #user-actions label input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

#page-register-login #user-actions label span#checkmark {
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1rem;
    background-color: var(--color-text-in-primary);
    margin-right: 1.2rem;
    transition: background-color 300ms ease;
}

#page-register-login #user-actions label:hover input~#checkmark {
    background-color: var(--color-text-complement);
}

#page-register-login #user-actions label input:checked~#checkmark {
    background-color: var(--color-secundary);
}

#page-register-login #user-actions label:hover input:checked~#checkmark {
    background-color: var(--color-secundary-dark);
}

#page-register-login #user-actions label input:checked~#checkmark:after {
    display: block;
}

#page-register-login #user-actions label #checkmark:after {
    left: 36%;
    top: 18%;
    width: 0.5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 0.3rem 0.3rem 0;
    transform: rotate(45deg);
    position: relative;

    content: "";
    display: none;
}

#page-register-login #user-actions #forgot-password {
    text-decoration: none;
    color: var(--color-text-in-base);
    transition: brightness 300ms ease;
    text-align: right;
    user-select: none;
    width: 100%;
}

#page-register-login #user-actions #forgot-password:hover {
    filter: brightness(85%);
}

#page-register-login #user-actions #signin-feedback {
    grid-column: 1/3;
    text-align: center;
    color: crimson;
    width: 100%;
}

#page-register-login #user-actions button {
    grid-column: 1/3;
    outline: none;
    border: none;
    border-radius: 0.8rem;
    background-color: var( --color-text-in-primary);
    color: var(--color-text-complement);
    height: 5rem;
    font-weight: 600;
    font-family: Archivo, sans-serif;
    font-size: 1.8rem;
    cursor: not-allowed;
    transition: background-color 300ms ease;
    margin: 0.5rem 0 0.5rem;
    user-select: none;
}

#page-register-login #user-actions button:enabled {
    background-color: var(--color-secundary);
    color: var(--color-button-text);
    cursor: pointer;
}

#page-register-login #user-actions button:enabled:hover {
    background-color: var(--color-secundary-dark);
}

#page-register-login footer {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 2.5rem;
}

#page-register-login footer #no-account a {
    text-decoration: underline;
    color: var(--color-primary);
    font-weight: 600;
}

#page-register-login footer p {
    text-align: right;
    color: var(--color-text-complement);
}

#page-register-login footer p img {
    filter: brightness(130%);
}

@keyframes inputFocus {
    from {
        height: 0;
    }
    to {
        height: 4rem;
    }
}

@media (max-width: 500px) {
    #page-register-login #user-actions label, 
    #page-register-login #user-actions #forgot-password {
        grid-column: 1/3;
    }

    #page-register-login #user-actions label {
        justify-content: center;
    }

    #page-register-login #user-actions #forgot-password {
        text-align: center;
    }

    #page-register-login #user-actions button {
        margin-top: 0.5rem;
        margin-bottom: -0.3rem;
    }
}

@media (min-width: 1000px) {
    #page-register-login form {
        width: 100%;
    }
    #page-register-login h2 {
        position: absolute;
        top: -3.5rem;
        left: 0;
    }
    #page-register-login #user-actions {
        width: 100%;
    }
    #page-register-login #user-actions #signin-feedback {
        max-width: 34rem;
    }
    #page-register-login footer {
        width: 100%;
    }
}